In [2]:
getwd()
library(tidyverse)
library(Seurat)
library(here)
library(harmony)
library(viridis)
library(RColorBrewer)
library(Polychrome)
PurpleAndYellow()
library(ComplexHeatmap)
library(devtools)
library(presto)
library(dplyr)
library(ggplot2)
library(ggpubr)
setwd("/liulab/galib/dlbcl_manuscript/")
source('scripts/scplot.R')

[1] "/liulab/galib/dlbcl_manuscript/scripts/10_infercnv"

 [1] "#FF00FF" "#F400F4" "#EA00EA" "#DF00DF" "#D500D5" "#CA00CA" "#BF00BF"
 [8] "#B500B5" "#AA00AA" "#9F009F" "#950095" "#8A008A" "#800080" "#750075"
[15] "#6A006A" "#600060" "#550055" "#4A004A" "#400040" "#350035" "#2B002B"
[22] "#200020" "#150015" "#0B000B" "#000000" "#000000" "#0B0B00" "#151500"
[29] "#202000" "#2B2B00" "#353500" "#404000" "#4A4A00" "#555500" "#606000"
[36] "#6A6A00" "#757500" "#808000" "#8A8A00" "#959500" "#9F9F00" "#AAAA00"
[43] "#B5B500" "#BFBF00" "#CACA00" "#D4D400" "#DFDF00" "#EAEA00" "#F4F400"
[50] "#FFFF00"

In [3]:
B_cell<- readRDS("./data/objects/B_cell_final.rds")

In [42]:
# number of non WT mice
length(B_cell@meta.data  %>% filter(genotype != 'WT')  %>% pull(pool_id)  %>% unique())

[1] 73

In [37]:
# get sample ids from B_cell Seurat object
# note that tumor_pool includes cd70 -/- mice

tumor_pool<- list.dirs("/liulab/galib/mouse_scRNAseq_margaret/data/infercnv/inferCNV_out_new/", full.names =  F,recursive = F)  %>% grep(pattern = "^Pool", value = T)
Poolid_18mos<- B_cell@meta.data  %>% filter(age == "18mos", pool_id %in% tumor_pool)  %>% pull(pool_id)  %>% unique() 
Poolid_14mos<- B_cell@meta.data  %>% filter(age == "14mos", pool_id %in% tumor_pool)  %>% pull(pool_id)  %>% unique()
Poolid_6mos<- B_cell@meta.data  %>% filter(age == "6mos", pool_id %in% tumor_pool)  %>% pull(pool_id)  %>% unique()
Poolid_sick<- B_cell@meta.data  %>% filter(age == "sick")  %>% pull(pool_id)  %>% unique()
Poolid_sick_new<- paste0(Poolid_sick, "_newsick")[paste0(Poolid_sick, "_newsick") %in% tumor_pool]
c(Poolid_18mos, Poolid_14mos, Poolid_6mos, Poolid_sick_new)  %>% length()

[1] 73

In [47]:
myinpath = "/liulab/galib/mouse_scRNAseq_margaret/data/infercnv/inferCNV_out_new/"
myoutpath = "./data/infercnv/"

In [80]:
tumor_pool<- list.dirs(myinpath, full.names =  F,recursive = F)  %>% grep(pattern = "^Pool", value = T)
Poolid_18mos<- B_cell@meta.data  %>% filter(age == "18mos", pool_id %in% tumor_pool)  %>% pull(pool_id)  %>% unique() 
Poolid_14mos<- B_cell@meta.data  %>% filter(age == "14mos", pool_id %in% tumor_pool)  %>% pull(pool_id)  %>% unique()
Poolid_6mos<- B_cell@meta.data  %>% filter(age == "6mos", pool_id %in% tumor_pool)  %>% pull(pool_id)  %>% unique()
Poolid_sick<- B_cell@meta.data  %>% filter(age == "sick")  %>% pull(pool_id)  %>% unique()
Poolid_sick_new<- paste0(Poolid_sick, "_newsick")[paste0(Poolid_sick, "_newsick") %in% tumor_pool]

In [87]:
B_cell@meta.data  %>% filter(genotype != 'WT')  %>% select(pool_id, genotype, age)  %>% unique()  %>% count(age)
c(Poolid_18mos, Poolid_14mos, Poolid_6mos, Poolid_sick_new)  %>% length()
print(c(length(Poolid_14mos), length(Poolid_18mos), length(Poolid_6mos), length(Poolid_sick_new)))

  age   n
1 14mos 18
2 18mos 21
3 6mos  18
4 sick  16

[1] 73

[1] 18 21 18 16

### concatenate matrices from individual time points

In [112]:
concat_mtx_18mos<- concat_mtx1(Poolid_18mos, inpath=myinpath)
pool<- colnames(concat_mtx_18mos)  %>% gsub(pattern = "-[ACGT].*", replacement = "")  %>% unique()
message('confirming matched wt cells were included.')
B_cell@meta.data  %>% filter(pool_id %in% pool[!pool %in% Poolid_18mos]) %>% select(age, genotype)  %>% unique()
saveRDS(concat_mtx_18mos, paste0(myoutpath, "mtx_18mos.rds"))

Done adding sample Pool105_64

Done adding sample Pool105_65

Done adding sample Pool105_66

Done adding sample Pool105_67

Done adding sample Pool105_68

Done adding sample Pool105_69

Done adding sample Pool105_70

Done adding sample Pool105_71

Done adding sample Pool105_72

Done adding sample Pool105_73

Done adding sample Pool105_74

Done adding sample Pool105_75

Done adding sample Pool105_76

Done adding sample Pool106-1_53

Done adding sample Pool105_78

Done adding sample Pool105_79

Done adding sample Pool105_80

Done adding sample Pool105_89

Done adding sample Pool105_90

Done adding sample Pool105_91

confirming matched wt cells were included.

                              age   genotype
Pool105_57-AAACCTGAGAGCTATA-1 18mos WT

In [118]:
concat_mtx_14mos<- concat_mtx1(Poolid_14mos, inpath=myinpath)
pool<- colnames(concat_mtx_14mos)  %>% gsub(pattern = "-[ACGT].*", replacement = "")  %>% unique()
message('confirming matched wt cells were included.')
B_cell@meta.data  %>% filter(pool_id %in% pool[!pool %in% Poolid_14mos]) %>% select(age, genotype)  %>% unique()
saveRDS(concat_mtx_14mos, paste0(myoutpath, "mtx_14mos.rds"))

Done adding sample Pool105_40

Done adding sample Pool105_41

Done adding sample Pool105_42

Done adding sample Pool105_43

Done adding sample Pool105_44

Done adding sample Pool105_45

Done adding sample Pool105_46

Done adding sample Pool105_47

Done adding sample Pool105_48

Done adding sample Pool105_49

Done adding sample Pool105_50

Done adding sample Pool105_51

Done adding sample Pool105_52

Done adding sample Pool105_53

Done adding sample Pool105_54

Done adding sample Pool105_55

Done adding sample Pool105_56

confirming matched wt cells were included.

                              age   genotype
Pool105_33-AAACCTGAGATCTGCT-1 14mos WT

In [117]:
concat_mtx_6mos<- concat_mtx1(Poolid_6mos, inpath=myinpath)
pool<- colnames(concat_mtx_6mos)  %>% gsub(pattern = "-[ACGT].*", replacement = "")  %>% unique()
message('confirming matched wt cells were included.')
B_cell@meta.data  %>% filter(pool_id %in% pool[!pool %in% Poolid_6mos]) %>% select(age, genotype)  %>% unique()
saveRDS(concat_mtx_6mos, paste0(myoutpath, "mtx_6mos.rds"))

Done adding sample Pool105_24

Done adding sample Pool105_9

Done adding sample Pool105_10

Done adding sample Pool105_11

Done adding sample Pool105_12

Done adding sample Pool105_13

Done adding sample Pool105_14

Done adding sample Pool105_15

Done adding sample Pool105_16

Done adding sample Pool105_25

Done adding sample Pool105_26

Done adding sample Pool105_27

Done adding sample Pool105_28

Done adding sample Pool105_29

Done adding sample Pool105_30

Done adding sample Pool105_31

Done adding sample Pool105_32

confirming matched wt cells were included.

                              age  genotype
Pool105_17-AAACCTGCAGTAACGG-1 6mos WT

In [ ]:
concat_mtx_sick<- concat_mtx2(Poolid_sick_new, inpath=myinpath)
pool<- colnames(concat_mtx_sick)  %>% gsub(pattern = "-[ACGT].*", replacement = "")  %>% unique()
pool[!pool %in% (Poolid_sick_new %>% gsub(pattern = "_newsick", replacement = ""))]
message('confirming matched wt cells were included.')
saveRDS(concat_mtx_sick, paste0(myoutpath, "mtx_sick.rds"))

## merge all inferCNV matrices together

In [135]:
row1<- rownames(concat_mtx_6mos)
row2<- rownames(concat_mtx_14mos)
row3<- rownames(concat_mtx_18mos)
row4<- rownames(concat_mtx_sick)
common_genes<- Reduce(intersect, list(row1 ,row2, row3, row4))
lapply(list(row1 ,row2, row3, row4), length)
length(common_genes)
all_mtx<- cbind(concat_mtx_6mos[common_genes,], concat_mtx_14mos[common_genes,],concat_mtx_18mos[common_genes,],concat_mtx_sick[common_genes,])
saveRDS(all_mtx, "./data/infercnv/mtx_all.rds")

[[1]]
[1] 4561

[[2]]
[1] 4474

[[3]]
[1] 4555

[[4]]
[1] 4475

[1] 4256